*
{
    box-sizing: border-box;
}

:root 
{
  --ff-primary: basic-sans, sans-serif;
  --clr-primary: #ee6352;
  --clr-body: #333;
  --clr-bg: #ddd;
  --spacer: 1rem;
}

h1 
{
  margin: 3rem 0;
  text-align: center;
  font-weight: 300;
  line-height: 1;
  opacity: 0.6;
}
  
body 
{
  font-family: var(--ff-primary);
  min-height: 100vh;
  font-size: 1em;
  line-height: 1.6;
  color: var(--clr-body);
  background: var(--clr-bg);
  padding-bottom: 13rem;
}

a 
{
  color: var(--clr-primary);
}

img 
{
  max-width: 100%;
}

.content 
{
  padding: 2em;
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);
  background: white;
}

.title 
{
  font-weight: 900;
  color: var(--clr-primary);
  line-height: 0.8;
}

.showcase {
  grid-column: 2/3;
  display: flex;
  flex-direction: row;    
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}

.showcase > div {
  width: 30%;
  margin: 1%;
}

body {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}

.mainTitle {
  grid-column: 1/3;
}