*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

header
{
    grid-column: 1/3;
    background-image: url(../img/image-header.jpg);
    height: 100vh;
}

section
{
    grid-column: span 1;
    min-height: 20vh;
}

.fullWidth {
    grid-column: 1/3;
}

.backgroundImage {
    background-size: cover;
    background-position: center;
}

.flexGallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flexGallery img {
    width: 25%;
}

#eggImage {
    background-image: url(../img/image-transform.jpg);
}

#drinkImage {
    background-image: url(../img/image-stand-out.jpg);
}

#cherryImage {
    background-image: url(../img/image-graphic-design.jpg);
}

#orangeImage {
    background-image: url(../img/image-photography.jpg);
}