* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    background-color: lightgray;
    color: rgb(72, 72, 72);
    font-family: Arial;
}   


.formContainer
{
    width: 65vw;
    min-height: 100vh;
    margin: 0 auto;
    padding: 2rem 4rem;
    
    display: flex;
    gap: 5rem;
    flex-direction: column;
    
    background-color: white;
}

form
{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 3rem;
    padding-right: 6rem;
}

.formSection
{
    grid-column: 2 / 3;
}

.inColumn
{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.inRow
{
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    justify-content: start;
}

input
{
    height: 2rem;
    
    padding: 0.25rem;
    border: 2px solid lightgray;
    border-radius: 0;
}

input[type="submit"]
{
    width: 8rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    text-align: center;
    vertical-align: center;
}

input[type="checkbox"], input[type="radio"] {
    width: 1.5rem;
    height: 1.5rem;
}

label
{
    opacity: 0.7;
    margin-bottom: 1.5rem;
}

#fName
{
    max-width: 10vw;
}

#company
{
    width: 100%;
}

#website 
{
    width: 100%;;
}

p
{
    font-size: 2rem;
}